h1,h2,h3,h4,h5,h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}
body {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 200;
    text-align: center;
    letter-spacing: 1px;
}
a{
    text-decoration: none;
    margin:  0 20px;
    color: #f15b31; 
    font-size: 20px;
}
img{
    margin: 10px;
}